.wrp {
	height: 100vh;
	width: 100vw;
	display: flex;
	
	align-items: center;
	margin: 0;
	padding: 0;
	background: url('27A_00032.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}
.menu {
margin-left: 5%;
}
body {
	margin: 0;
	padding: 0;
}
li {
	 list-style-type: none;
	 font-size: 3rem;
	 display: block;
}
a {
	text-decoration: none;
}
li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.menu:hover li a{
	text-shadow: 0px 0px 5px #0d1a3a;
}
 a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}
@media (max-width: 330px) {
.wrp{
	justify-content: center;
	}
	.menu {
		margin-bottom: 80%;
		margin-left: 0%;
		padding: 0;
	}
li a {
	font-size: 1rem;
		color: #fff;
		text-shadow: 0px 0px 5px #0c2461;
		letter-spacing: 1px;
		line-height: 1.5rem;
		opacity: 0.8;
}
}
