body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #2b2a2c;
}
html {
  font-size: 15px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* bloks*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header {
  padding: 1.2rem 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 57px;
  height: 57px;
}
.user__avatar img {
  border-radius: 50%;
  width: 57px;
  height: 57px;
  border: 0.05rem solid #6a696b;
}
.content {
  padding-left: 9px;
}
.content__name {
  font-size: 1.06rem;
  color: #2b2a2c;
  font-weight: 700;
  margin-bottom: 3px;
}
.content__prof {
  font-size: 0.8rem;
  opacity: 0.7;
  color: #2b2a2c;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  font-size: 0.933rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 2rem;
  position: relative;
}
.nav__link:after {
  content: "";
  width: 0%;
  height: 2px;
  bottom: -5px;
  background-color: #2b2a2c;
  position: absolute;
  left: 0;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
  transition: 0.2s;
}
.nav__link--btn {
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  padding: 10px 30px;
}
.nav__link--btn:hover {
  background-color: #2b2a2c;
  color: #ffffff;
  transition: 0.2s;
}
.s1__inner {
  display: flex;
  padding-top: 100px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(106, 105, 107, 0.3);
}
.s1__content {
  width: 50%;
  margin-top: 20px;
}
.s1__subt {
  font-size: 2.05rem;
  font-weight: 200;
  color: #2b2a2c;
}
.s1__t {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.s1__text {
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
}
.s1__photo img {
  width: 60%;
}
.s1__photo {
  width: 50%;
  text-align: center;
  height: 110%;
  margin-top: -100px;
}
.social {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
}
.social__link {
  text-decoration: none;
  margin-right: 10px;
  transition: 0.2s;
}
.social__link img {
  height: 41px;
  width: 41px;
}
.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  text-decoration: none;
  font-size: 1.06rem;
  color: #6a696b;
  text-transform: uppercase;
  border: 1px solid #6a696b;
  border-radius: 20px;
  padding: 10px 30px;
}
.btn:hover {
  background-color: #2b2a2c;
  color: #ffffff;
  transition: 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}
.btn + .btn {
  margin-left: 10px;
}
