// main: ../f4.less

.s1__inner {
	display: flex;
	padding-top: 100px;
	padding-bottom: 10px;
	border-bottom: 1px solid fade(@g, 30%);
}

.s1__content {
	width: 50%;
	margin-top: 20px;
}

.s1__subt {
	font-size: 2.05rem;
	font-weight: 200;
	color: @b;
}

.s1__t {
	font-size: 3rem;
	color: @b;
	font-weight: 700;
	margin-bottom: 0.7rem;
}
.s1__text {
	font-size: 1.2rem;
	color: fade(@b, 70%);
}

.s1__photo img {
	width: 60%;
}
.s1__photo  {
	width: 50%;
	text-align: center;
	height: 110%;
	margin-top: -100px;
	
}
@media  (max-width: 905px) {
	.s1__photo {
		display: none;
	}

.s1__content {
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.s1__inner {
height: 100%;
padding-top: 50px;
padding-bottom: 50px;	
}
}
@media  (max-width: 788px) { 
.s1__inner{
padding-top: 0px;	
}
}
@media  (max-width: 375px) { 
	.s1__inner {
		flex-direction: column;
		flex-flow: wrap;

	}
	#a1 {
		display: block;
		width: 150px;
margin: 10px auto;
	}
	#a2 {
		display: block;
		width: 150px;
margin: 10px auto;
	}
	}