* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
}
.main {
	height: 90vh;
	width: 100vw;
	background: url(b1.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	min-height: 600px;
	padding: 0;margin: 0;
	color: #fff;
	z-index: 1;

}
a {
	color: #fff;
}
.main-wr {
  background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
  position: absolute;
 width: 100%;
 height: 100%;
 opacity: 0.8;
  z-index: 0;
  left: 0;
  top: 0;
}
.header {
	width: 90%;
	height: 15%;

	margin: 0;
	padding: 0;
	position: relative;
justify-content: space-between;
align-items: center;
display: flex;
z-index: 3;
}
ul {
	display: flex;
	 justify-content: space-around;
	width: 100%;
	 position: relative;
	 align-items: center;
	 margin: 0;
	 padding: 0;
}
li {
	 list-style-type: none;
}
a {
	text-decoration: none;
}
li {
width: 50%;
display: flex;
justify-content: center;
flex-basis: 50%;
}
.menu {
	width: 70%;
	display: flex;
justify-content: space-between;
}
.mn-lk1 {
	display: flex;
	text-transform: uppercase;
	border: 1px solid;
	height: 160%;
	align-items: center;
	border-radius: 100px;

}
.mt {
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
}
.pmt {
	text-align: center;
	margin: 0;
	padding: 0;
}
.hmt{
	margin: 0;
	padding: 0;
	font-size: 60px;
	font-weight: 300;
}
.spmt{
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 20px;
	width: 80%;
		text-align: center;
		position: relative;
}
.mt span::before {
	content: '';
	height: 2px;
	width: 24px;
	background-color: #fff;
	position: absolute;
	top: 47.4%;
	left: 80%;
	border-radius: 1px;

}
.mt span::after {
	content: '';
	height: 2px;
	width: 24px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	right: 80%;
	border-radius: 1px;


}
a .btn {
	height: 50px;	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	margin-bottom: 5%;
	background-color: #fff;
	border-radius: 25px;
	cursor: pointer;

}
a {
	z-index: 3;
	margin-bottom: 3%;
}
.mn2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	min-height: 600px;
	padding: 0;margin: 0;
	text-align: center;
	position: relative;
	height: 110vh;

}
 .mn2sp {
	text-transform: uppercase;
	font-size: 10px;
	color: #161617;
	position: relative;
	width: 50%;

}
.mhd2{
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 22%;
	margin-top: 5%;
}
.mn2h2 {
	color: #34495e;
	font-size: 40px;
	font-weight: 500;
	padding: 0;
	margin: 0;

}
.mn2p {
	font-size: 10px;
	color: #34495e;
		margin-bottom: 50px;
}
.mhd2 span::before {
	content: '';
	height: 1px;
	width: 24px;
	background-color: #34495e;
	position: absolute;
	top: 47.4%;
	left: 80%;
	border-radius: 1px;

}
.mhd2 span::after {
	content: '';
	height: 1px;
	width: 24px;
	background-color: #34495e;
	position: absolute;
	top: 50%;
	right: 80%;
	border-radius: 1px;
}
.mt2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: 110%;
	margin-bottom: 5%;
}
.mt2c1, .mt2c2, .mt2c3 {
	border: 0px solid  #34495e;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	border-radius: 50px;
	border-color: #34495e;
flex-basis: 25%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: space-around;
padding: 4%;
position: relative;
	color: #34495e;
	
}
.mn2 a {
	color: #34495e;
}
.mt2 span {
text-transform: uppercase;
position: absolute;
top: 40%;
left: 0;
right: 0;
font-weight: 500;
font-size: 10px;
} 
.mt2 h2 {
position: absolute;
font-size: 40px;
top: 40%;
left: 0;
right: 0;
} 
.mt2c1 h2::before {
	content: '$ ';
	font-size: 10px;
	top: 20%;
	left: 38%;
	position: absolute;
}
.mt2c3 h2::before,
.mt2c2 h2::before {
	content: '$ ';
	font-size: 10px;
	top: 20%;
	left: 34%;
	position: absolute;
}
.mt2 h2::after {
	content: '/month';
	font-size: 10px;
}


.mt2 p {
position: absolute;
top: 55%;
padding: 4%;
left: 0;
line-height: 20px;
font-size: 12px;
}

.mt2 a {
text-transform: uppercase;
border: 0px solid;
padding: 4%;
padding-left: 16%;
padding-right: 16%;
text-align: center;
border-radius: 20px;
border-color: #34495e;
font-size: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.mt2 a:hover {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background-color: #9b59b6;
	color: #fff;
	border-color: #fff;
	 box-shadow: 0 0 0px rgba(0,0,0,0.5);
}
.mt2c1:hover,
.mt2c2:hover,
.mt2c3:hover {
	 box-shadow: 0 0 30px rgba(0,0,0,0.5);
	 -webkit-transition: 0.5s;
	 -o-transition: 0.5s;
	 transition: 0.5s;
	 border: 0px solid;
}
.mt3 {
	height: 40vh;
	width: 99vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url('g3.png') no-repeat center;
	background-size: cover;
}
.mt3 span {
	color: #fff;
	font-size: 10px;
	font-weight: 500;

}
.mt3 h2 {
	font-size: 40px;
	padding: 0;
	margin: 0;
	color: #fff;
	font-weight: 300;
	margin-bottom: 3%;
}
.mt3 a {

	margin: 1%;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	border-radius: 20px;
	background-color: #fff;
	color: #9b59b6;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.ml3 {
	width: 50%;
	text-align: center;
}
.mt3 a:hover {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	background-color: #9b59b6;
	color: #fff;
}
.mn4 {
	height: 20vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 0;margin: 0;
	color: #34495e;
	z-index: 1;
}
.mn4 .header {
	width: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
justify-content: space-between;
align-items: center;
display: flex;
z-index: 3;
border-bottom: 1px solid;
border-color: #95a5a6;
}
.mn4 ul {
	display: flex;
	 justify-content: space-around;
	width: 100%;
	 position: relative;
	 align-items: center;
	 margin: 0;
	 padding: 0;
}

.mn4 li {
width: 50%;
display: flex;
justify-content: center;
flex-basis: 50%;
}
.mn4 .menu {
	width: 70%;
	display: flex;
justify-content: space-between;
}
.mn4 .mn-lk1 {
	display: flex;
	text-transform: uppercase;
	background-color: #8e44ad;
	height: 160%;
	align-items: center;
	border-radius: 100px;
}
.mn4 a {
	color: #34495e;
}
.mn4 .mn4 {
	width: 99vw;
}
.mn-lk1 a {
	color: #fff;
}
.ftr {
height: 10vh;
display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.ftr a {
	color: #34495e;
	margin: 5%;
	margin-left: 10%;
}
.ss {width: 10%;
margin-right: 3%;
}
.ftr p {
	margin-left: 5%;
	font-size: 12px;
	color: #34495e;
}
a:active {
	color: #8e44ad;
}